# Recap

In [1]:
4 + 4

8

In [2]:
%whos

Interactive namespace is empty.

In [3]:
z * x * y

NameError: name 'z' is not defined

In [4]:
3 * 3

9

In [5]:
2 ** 4

16

In [6]:
2 * 2 * 2 *

SyntaxError: invalid syntax (1372265230.py, line 1)

In [7]:
2 * 2 * 2 * 2

16

In [8]:
2 + 2

3 + 3

7 * 7

7 ** 3

2 + 2 + 3 + 7 * 3

28

In [9]:
print(2 + 2)

4

In [10]:
print( 2 + 2 )

print( 3 + 3 )

print( 7 * 7 )

print( 7 ** 3 )

print( 2 + 2 + 3 + 7 * 3 )

4
6
49
343
28

In [11]:
# hashtags are COMMENTS in CODE CELLS!!!

## This is a comment

### this is still a comment!!!

### 2 + 2

### print( 3 + 3 )

### nothing is evaluated here!!!

In [12]:
# comments are absolutely CRITICAL in scripts!!

# we need to use comments in order to describe what we're doing!!

### print the result of 2 + 2 to the screen using the print() function
print( 2 + 2 )

4

This is NOT a code cell.

We cannot run commands, evaluate expressions, or call functions.

We are typing in a Markdown cell. And Markdown text although "looks" like code...will be RENDERED in a nice format!

2 + 2

print( 2 + 2)

# This is not a comment

## This is still not a comment

### This is still not a comment

#### more hashtags mean smaller font

##### Hashtags in Markdown cells create SECTION HEADERS!!!

###### More hashtags represent more sub sections

# Our first notebook

This is our first Jupyter notebook. We can type Markdown text to create nice looking discussions which describe WHAT we are programming, WHY we are programming, and describe the results!!!!!

## A simple code cell

Below is a code cell that prints the result of 2 + 2.

In [13]:
print( 2 + 2 )

4

## Bulleted lists

We can create bulleted lists using Markdown!  

* First item in the list  
* Second item in the list  
* 3rd  
* 4th
* so on and so on

Back to regular looking text.

## Defining variables

Let's define two variables, `x` and `y`, in the code cell below.

In [14]:
x = 3

y = 7

In [15]:
print( x )

3

In [16]:
print( y )

7

In [17]:
print( x + y )

10

Jyputer notebook includes MAGIC COMMANDS that allow us to SEE or INSPECT aspects of the variables/objects in the environment!

In [18]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3
y          int     7

In [19]:
z = x / y

In [20]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      3
y          int      7
z          float    0.42857142857142855

## Data types

There are MANY data types in programming languages like Python. Data types dictate the kinds of operations we can do on the object!

The `type()` function is a function that returns the DATA TYPE of the input argument.

In [21]:
type( x )

int

In [22]:
print( type(x) )

<class 'int'>

In [23]:
type( y )

int

In [24]:
type( z )

float

In [25]:
print( type(z) )

<class 'float'>

In [26]:
z

0.42857142857142855

In [27]:
x + z

3.4285714285714284

In [28]:
type( x + z )

float

In [29]:
x / z

7.0

In [30]:
z * x

1.2857142857142856

In [31]:
type( z * x )

float

## Strings

A string data type is a FUNDAMENTALLY different class than INTEGERS and FLOATS.

Strings are characters, so think of letters, words, and phrases.

In [32]:
my_string = 'abcde'

In [33]:
%whos

Variable    Type     Data/Info
------------------------------
my_string   str      abcde
x           int      3
y           int      7
z           float    0.42857142857142855

In [34]:
type( my_string )

str

In [35]:
type( "abcde" )

str

The `=` operator ASSIGNS values to objects but the `==` operator is a CONDITIONAL or LOGICAL test about if the VALUES of the objects are the same!

In [36]:
'abcde' == "abcde"

True

In [37]:
my_string == "abcde"

True

In [38]:
type( my_string == 'abcde' )

bool

A BOOLEAN data type is a TRUE/FALSE value. Python displays Booleans as `True` or `False`.

Strings are kind of "special" in that they can be SUBSET.

In [39]:
len( my_string )

5

Integers do NOT have length in Python, but strings do have length in Python!

In [40]:
len( x )

TypeError: object of type 'int' has no len()

We can SLICE or INDEX or SUBSET the characters in a STRING!!!!! 

The `[]` allow us to INDEX or access elements from within the STRING!

In [41]:
my_string[1]

'b'

In [42]:
my_string

'abcde'

VERY IMPORTANT: Python is a ZEROD BASED INDEX language!!!

In [43]:
my_string[0]

'a'

### Slicing

We can extract out MORE than just a single element!

We can extract or SLICE multiple elements at a time!

We slice by including the `:` operator.

The `:` operator has a START or BEGINNING index to the LEFT and an END or FINISH index to the RIGHT.

VERY IMPORTANT: the beginning index is INCLUSIVE but the ending index is EXCLUSIVE!!!!!!

In [44]:
my_string[0:3]

'abc'

In [45]:
len( my_string[0:3] )

3

In [46]:
my_string[3]

'd'

In [47]:
my_string[1:3]

'bc'

A shortcut to start from the beginning to to NOT include anything to the left of `:`.

In [48]:
my_string[:3]

'abc'

In [49]:
my_string[:2]

'ab'

In [50]:
my_string[:3]

'abc'

In [51]:
my_string[:4]

'abcd'

If we exclude the ENDING index or we do NOT include anything to the right of `:` we will return EVERYTHING from the BEGINNING to the END!

In [52]:
my_string[1:]

'bcde'

In [53]:
my_string[2:]

'cde'

In [54]:
my_string[:]

'abcde'

If the index is NEGATIVE that starts from the END!

In [55]:
my_string[1]

'b'

In [56]:
my_string[-1]

'e'

We can identify the LAST element as `[-1]`.

In [57]:
my_string

'abcde'

In [58]:
my_string[-1]

'e'

In [59]:
my_string[-2]

'd'

## Lists

The list is a CONTAINER! It contains MULTIPLE elements!

Lists are initialized or CREATED with `[]`.

In [60]:
an_empty_list = []

In [61]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      abcde
x               int      3
y               int      7
z               float    0.42857142857142855

In [62]:
len( an_empty_list )

0

In [63]:
type( an_empty_list )

list

Let's now make a new list that contains 4 strings.

In [64]:
the_hobbits = ['frodo', 'sam', 'merry', 'pippin']

In [65]:
len( the_hobbits )

4

In [66]:
type( the_hobbits )

list

In [67]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      abcde
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

Lists, like strings, can be indexed, sliced, subset.

In [68]:
the_hobbits[0]

'frodo'

In [69]:
the_hobbits

['frodo', 'sam', 'merry', 'pippin']

In [70]:
the_hobbits[:2]

['frodo', 'sam']

In [71]:
the_hobbits[1]

'sam'

In [72]:
the_hobbits[-1]

'pippin'

In [73]:
type( the_hobbits[0] )

str

In [74]:
type( 'frodo' )

str

In [75]:
type( the_hobbits )

list

In [76]:
print( the_hobbits[0] )

print( the_hobbits[1] )

print( the_hobbits[2] )

print( the_hobbits[3] )

frodo
sam
merry
pippin

In [77]:
print( type( the_hobbits[0] ) )

print( type( the_hobbits[1] ) )

print( type( the_hobbits[2] ) )

print( type( the_hobbits[3] ) )

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [78]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      abcde
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

## Iterate with for-loops

A for-loop allows us to APPLY an action or EXECUTE a procedure OVER and OVER and OVER again! 

We do NOT need to manually applly the action or copy/paste!!!!

A for-loop iterates over a SEQUENCE by changing the value of an ITERATING VARIABLE along that sequence.

In [79]:
for a_hobbit in the_hobbits:
    print( a_hobbit )

frodo
sam
merry
pippin

In [80]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=0
my_string       str      abcde
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

In [81]:
the_hobbits[-1]

'pippin'

In [82]:
a_hobbit

'pippin'

A common way to create or define a for-loop is with a `range()` function.

In [83]:
range(4)

range(0, 4)

In [84]:
print( 0 )

print( 1 )

print( 2 )

print( 3 )

0
1
2
3

In [85]:
for n in range(4):
    print( n )

0
1
2
3

In [86]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=0
my_string       str      abcde
n               int      3
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

The `range()` function is often used to GENERATE a SEQUENCE of INTEGERS to SUBSET lists!

In [87]:
for m in range(4):
    print( the_hobbits[m] )

frodo
sam
merry
pippin

In [88]:
for a_hobbit in the_hobbits:
    print( a_hobbit )

frodo
sam
merry
pippin

We do not need to HARD CODE the 4 in `range()`. We can use the `len()` function to give us the LENGTH of the list!

In [89]:
len( the_hobbits )

4

In [90]:
for n in range( len(the_hobbits) ):
    print( the_hobbits[n] )

frodo
sam
merry
pippin

## Lists are heterogeneous

Lists can CONTAIN MULTIPLE DATA TYPES!!!!!!

In [91]:
another_list = [1, 1.0, 'one', "1", '1.0', True]

In [92]:
another_list

[1, 1.0, 'one', '1', '1.0', True]

In [93]:
type( another_list )

list

In [94]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=0
another_list    list     n=6
m               int      3
my_string       str      abcde
n               int      3
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

In [95]:
len( another_list )

6

In [96]:
for an_element in another_list:
    print( type( an_element) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [97]:
type( another_list[0] )

int

In [98]:
type( another_list[1] )

float

In [99]:
type( another_list[-1] )

bool

# Iteration


## Overview

Review the basic structure of a for-loop, focusing on:

* Indents and spacing  
* Iterating variable  
* Sequence  
* How the iterating variables changes in the for-loop

## For-loop

In [1]:
for n in range(7):
    # inside the body of the for-loop
    # actions occur for the CURRENT value of the iterating variable
    print( n )

0
1
2
3
4
5
6

In [2]:
%whos

Variable   Type    Data/Info
----------------------------
n          int     6

In [3]:
for n in range(7):
    # inside the body of the for-loop
    # still inside the body
    print( n )
    # inside the body of the for loop
    print( n )
# we are OUTSIDE the body of the for-loop
# because we are NOT indented
# that means we are NO longer iterating
print( n )
print( n * 1000 )
# still outside the for loop!!

0
0
1
1
2
2
3
3
4
4
5
5
6
6
6
6000

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
n          int     6

In [5]:
for n2 in range(7):
    # inside the for loop!
### OUTSIDE the for loop
print( n2 )

IndentationError: expected an indented block (3610730824.py, line 4)

In [6]:
for n2 in range(7):
    # inside the for loop!!
    print( 3 )
print( n2 )

3
3
3
3
3
3
3
6

In [7]:
for n3 in range(7):
    # the for loops expects some kind of action!!
    n3 + 1
    # we simply adding a 1 to the iterating variable but NOT saving, defining, or printing it
### outside the for loop
print( n3 )

6

In [8]:
%whos

Variable   Type    Data/Info
----------------------------
n          int     6
n2         int     6
n3         int     6

In [9]:
for nn in range(7):
    print( "Iterating variable value is: %d" % (nn) )

Iterating variable value is: 0
Iterating variable value is: 1
Iterating variable value is: 2
Iterating variable value is: 3
Iterating variable value is: 4
Iterating variable value is: 5
Iterating variable value is: 6

In [10]:
%whos

Variable   Type    Data/Info
----------------------------
n          int     6
n2         int     6
n3         int     6
nn         int     6

In [11]:
for mm in range(7):
    print( "Old iterating variable, nn, is: %d WHILE current iterating variable, mm, is: %d" % (nn, mm) )

Old iterating variable, nn, is: 6 WHILE current iterating variable, mm, is: 0
Old iterating variable, nn, is: 6 WHILE current iterating variable, mm, is: 1
Old iterating variable, nn, is: 6 WHILE current iterating variable, mm, is: 2
Old iterating variable, nn, is: 6 WHILE current iterating variable, mm, is: 3
Old iterating variable, nn, is: 6 WHILE current iterating variable, mm, is: 4
Old iterating variable, nn, is: 6 WHILE current iterating variable, mm, is: 5
Old iterating variable, nn, is: 6 WHILE current iterating variable, mm, is: 6

In [12]:
for zz in range(7):
    print( "%d + %d + %d = %d" % (nn, mm, zz, nn+mm+zz) )

6 + 6 + 0 = 12
6 + 6 + 1 = 13
6 + 6 + 2 = 14
6 + 6 + 3 = 15
6 + 6 + 4 = 16
6 + 6 + 5 = 17
6 + 6 + 6 = 18

## Nested for-loops

We can iterate over 2 sequences at the same time! Nested for-loops consist of OUTER and INNER for-loops!!!

In [13]:
for o1 in range(3):
    # this is the OUTER for loop
    print( "Outer iteration number: %d" % (o1) )
    print( " -- ## -- " )
    for i1 in range(5):
        # this is inside the INNER for loop
        # it looks like a further SUB SECTION because we indented more!!!
        print( "Inner iteration number: %d" % (i1) )
        # still in the INNER for loop
    # we are BACK within the OUTER for loop!!!!
    print( " -- $$ -- " )

Outer iteration number: 0
 -- ## --
Inner iteration number: 0
Inner iteration number: 1
Inner iteration number: 2
Inner iteration number: 3
Inner iteration number: 4
 -- $$ --
Outer iteration number: 1
 -- ## --
Inner iteration number: 0
Inner iteration number: 1
Inner iteration number: 2
Inner iteration number: 3
Inner iteration number: 4
 -- $$ --
Outer iteration number: 2
 -- ## --
Inner iteration number: 0
Inner iteration number: 1
Inner iteration number: 2
Inner iteration number: 3
Inner iteration number: 4
 -- $$ --

In [14]:
for o2 in range(5):
    # outer for loop iterates over an INTEGER
    print("Outer iteration number: %d" % (o2) )
    for i2 in ['a', 'b', 'c', 'd']:
        # INNER for loop
        print( o2 * i2 )
    # back in the OUTER for loop
    print( ' -- $$ -- ' )

Outer iteration number: 0




 -- $$ --
Outer iteration number: 1
a
b
c
d
 -- $$ --
Outer iteration number: 2
aa
bb
cc
dd
 -- $$ --
Outer iteration number: 3
aaa
bbb
ccc
ddd
 -- $$ --
Outer iteration number: 4
aaaa
bbbb
cccc
dddd
 -- $$ --

In [15]:
for o3 in ['a', 'b', 'c', 'd']:
    for i3 in ['AA', 'BB', 'CC', 'DD']:
        print( (o3, i3, o3 + ' ' + i3 + ' ' + o3) )

('a', 'AA', 'a AA a')
('a', 'BB', 'a BB a')
('a', 'CC', 'a CC a')
('a', 'DD', 'a DD a')
('b', 'AA', 'b AA b')
('b', 'BB', 'b BB b')
('b', 'CC', 'b CC b')
('b', 'DD', 'b DD b')
('c', 'AA', 'c AA c')
('c', 'BB', 'c BB c')
('c', 'CC', 'c CC c')
('c', 'DD', 'c DD c')
('d', 'AA', 'd AA d')
('d', 'BB', 'd BB d')
('d', 'CC', 'd CC d')
('d', 'DD', 'd DD d')

# Randomization

### Calling multiple random numbers

## Overview

We know how to call or GENERATE random numbers using `random.random()`. We know how to organize values inside LISTS. We know how to ITERATE using for-loops and list comprehensions.

Let's now bring together ALL of these aspects!!!!!

We will generate MULTIPLE random numbers OR we will generate SEQUENCES of random numbers!!!

## Import modules

We need the `random` module for this example.

In [1]:
import random

## Call multiple random values

We know that we can MANUALLY call `random.random()` many times!!

In [2]:
random.seed(2100)

print( random.random() )

print( random.random() )

print( random.random() )

0.764021138054951
0.4692037101382426
0.09010549233469012

We can store random values as ENTRIES or FIELDS within lists!

In [3]:
random.seed(2100)

x_a = [random.random(), random.random(), random.random()]

In [4]:
%whos

Variable   Type      Data/Info
------------------------------
random     module    <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list      n=3

In [5]:
len( x_a )

3

In [6]:
x_a

[0.764021138054951, 0.4692037101382426, 0.09010549233469012]

Generating 1000 random numbers would mean we need to manually type `random.random()` 1000 times!!!!!!!

We can use ITERATION to save the day!!!

In [7]:
random.seed(2100)

for n in range(3):
    print( random.random() )

0.764021138054951
0.4692037101382426
0.09010549233469012

In [8]:
random.seed(2100)

for n in range(15):
    print( random.random() )

0.764021138054951
0.4692037101382426
0.09010549233469012
0.08980190601697957
0.5561956463771123
0.41097303757112746
0.6979324821652212
0.9157019989699348
0.06734286989910154
0.7015550970478079
0.11078753610950587
0.9379189789375049
0.2987506098933619
0.7342115932077558
0.8939978976343719

But the above example does NOT save or store the random numbers!!!

How can we store the results into a LIST?!??!

We need to INITIALIZE the list! Or we need to create a list to assign values to!

In [9]:
xu = []

In [10]:
print( xu )

[]

In [11]:
len( xu )

0

In [12]:
%whos

Variable   Type      Data/Info
------------------------------
n          int       14
random     module    <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list      n=3
xu         list      n=0

In [13]:
dir( xu )

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Let's use the `.append()` method associated with the `xu` LIST to ADD new elements to the list!

In [14]:
random.seed(2100)

for n in range(3):
    xu.append( random.random() )

In [15]:
xu

[0.764021138054951, 0.4692037101382426, 0.09010549233469012]

Let's repeat these steps MANUALLY just to show what happened at each iteration of the for-loop!!!!!

In [16]:
xu_b = []

print( xu_b )

[]

In [17]:
len( xu_b )

0

In [18]:
random.seed(2100)

xu_b.append( random.random() )

In [19]:
len( xu_b )

1

In [20]:
xu_b

[0.764021138054951]

In [21]:
xu_b.append( random.random() )

In [22]:
len( xu_b )

2

In [23]:
xu_b

[0.764021138054951, 0.4692037101382426]

In [24]:
xu_b.append( random.random() )

In [25]:
len( xu_b )

3

In [26]:
xu_b

[0.764021138054951, 0.4692037101382426, 0.09010549233469012]

Let's now iterate 11 times!!

In [27]:
xu_c = []

random.seed(2100)

for n in range(11):
    xu_c.append( random.random() )

In [28]:
type( xu_c )

list

In [29]:
len( xu_c )

11

In [30]:
xu_c

[0.764021138054951,
 0.4692037101382426,
 0.09010549233469012,
 0.08980190601697957,
 0.5561956463771123,
 0.41097303757112746,
 0.6979324821652212,
 0.9157019989699348,
 0.06734286989910154,
 0.7015550970478079,
 0.11078753610950587]

In [31]:
xu_d = []

random.seed(2100)

for n in range(11):
    print( "Before appending, the list has length: %d" % ( len(xu_d) ) )
    xu_d.append( random.random() )
    print( "After appending, the list has length: %d" % ( len(xu_d) ) )
    print( ' -- $$ -- ' )

Before appending, the list has length: 0
After appending, the list has length: 1
 -- $$ --
Before appending, the list has length: 1
After appending, the list has length: 2
 -- $$ --
Before appending, the list has length: 2
After appending, the list has length: 3
 -- $$ --
Before appending, the list has length: 3
After appending, the list has length: 4
 -- $$ --
Before appending, the list has length: 4
After appending, the list has length: 5
 -- $$ --
Before appending, the list has length: 5
After appending, the list has length: 6
 -- $$ --
Before appending, the list has length: 6
After appending, the list has length: 7
 -- $$ --
Before appending, the list has length: 7
After appending, the list has length: 8
 -- $$ --
Before appending, the list has length: 8
After appending, the list has length: 9
 -- $$ --
Before appending, the list has length: 9
After appending, the list has length: 10
 -- $$ --
Before appending, the list has length: 10
After appending, the list has length: 11
 -- $$ --

The for-loop streamlined calling or GENERATING many random numbers!!!

But the for-loop has one major downside!!!!!!

What if we forget to initialize the list before running the for-loop!?!!

In [32]:
%whos

Variable   Type      Data/Info
------------------------------
n          int       10
random     module    <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list      n=3
xu         list      n=3
xu_b       list      n=3
xu_c       list      n=11
xu_d       list      n=11

In [33]:
random.seed(2100)

for n in range(11):
    y.append( random.random() )

NameError: name 'y' is not defined

In [34]:
%whos

Variable   Type      Data/Info
------------------------------
n          int       0
random     module    <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list      n=3
xu         list      n=3
xu_b       list      n=3
xu_c       list      n=11
xu_d       list      n=11

## List comprehension

The list comprehension is a streamlined way of managing iterating.

List comprehensions require that we completely understand the 3 basic elements of iteration:

* the action to repeat
* the iterating variable that changes
* the sequence to iterate over

In code, the syntax is:

`<output list> = [ <action> for <variable> in <sequence> ]`

What is the ACTION we are repeating???  We are calling `random.random()` many times!

What is the iterating variable? We were calling it `n` but it doesn't really do anything here...

What is our sequence to iterate over? The sequence is generated by `range()`!!!

In [35]:
random.seed(2100)

y = [ random.random() for iterating_variable in range(11) ]

In [36]:
type( y )

list

In [37]:
len( y )

11

In [38]:
y

[0.764021138054951,
 0.4692037101382426,
 0.09010549233469012,
 0.08980190601697957,
 0.5561956463771123,
 0.41097303757112746,
 0.6979324821652212,
 0.9157019989699348,
 0.06734286989910154,
 0.7015550970478079,
 0.11078753610950587]

In [39]:
y == xu_c

True

The iterating variable is not really important in our current application. More often than not, the iterating variable IS important. But when it is not needed, a common practice is to use the UNDERSCORE, `_`, as the iterating variable.

In [40]:
random.seed(2100)

y2 = [ random.random() for _ in range(11) ]

In [41]:
y2

[0.764021138054951,
 0.4692037101382426,
 0.09010549233469012,
 0.08980190601697957,
 0.5561956463771123,
 0.41097303757112746,
 0.6979324821652212,
 0.9157019989699348,
 0.06734286989910154,
 0.7015550970478079,
 0.11078753610950587]

In [42]:
%whos

Variable   Type      Data/Info
------------------------------
n          int       0
random     module    <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list      n=3
xu         list      n=3
xu_b       list      n=3
xu_c       list      n=11
xu_d       list      n=11
y          list      n=11
y2         list      n=11