# COUNTING unique values in lists

This example will show how to COUNT the number of times a UNIQUE VALUE appears within a list. We will use the `set()` function, list methods, and comprehensions in this example.

In [1]:
my_list = 7 * ['frodo', 'sam', 'merry', 'pippin']

In [2]:
print( len( my_list ) )

28

In [3]:
my_list

['frodo',
 'sam',
 'merry',
 'pippin',
 'frodo',
 'sam',
 'merry',
 'pippin',
 'frodo',
 'sam',
 'merry',
 'pippin',
 'frodo',
 'sam',
 'merry',
 'pippin',
 'frodo',
 'sam',
 'merry',
 'pippin',
 'frodo',
 'sam',
 'merry',
 'pippin',
 'frodo',
 'sam',
 'merry',
 'pippin']

## What are the UNIQUE values in `my_list`?

We can use the `set()` function to identify ALL unique values contained in the list.

In [4]:
unique_list_values = set( my_list )

In [5]:
len( unique_list_values )

4

In [6]:
unique_list_values

{'frodo', 'merry', 'pippin', 'sam'}

In [7]:
type( unique_list_values )

set

A set in Python is surrounded by `{}` like DICTIONARIES but do NOT use KEY:VALUE pairs!

In [8]:
unique_list_values_as_list = list( unique_list_values )

In [9]:
type( unique_list_values_as_list )

list

In [10]:
unique_list_values_as_list

['merry', 'frodo', 'sam', 'pippin']

Let's sort our list of unique values so that we have a consistent ordering.

In [11]:
unique_list_values_as_list.sort()

In [12]:
unique_list_values_as_list

['frodo', 'merry', 'pippin', 'sam']

## How many entries or records exist for each unique value in `my_list`?

Alternatively, we are asking what are the COUNTS associated with each unique value?

The `.count()` method will COUNT the number of times a specific VALUE appears within a list!

In [13]:
my_list.count( 'frodo' )

7

In [14]:
my_list.count( 'merry' )

7

In [15]:
my_list.count( 'pippin' )

7

In [16]:
my_list.count( 'sam' )

7

Let's combine the result of `set()` with the `.count()` method. This allows us to work programmatically!!!

In [17]:
my_list.count( unique_list_values_as_list[0] )

7

In [18]:
unique_list_values_as_list

['frodo', 'merry', 'pippin', 'sam']

In [19]:
unique_list_values_as_list[0]

'frodo'

In [20]:
my_list.count( unique_list_values_as_list[1] )

7

In [21]:
my_list.count( unique_list_values_as_list[2] )

7

In [22]:
my_list.count( unique_list_values_as_list[3] )

7

Let's use a LIST COMPREHENSION to iterate over the UNIQUE VALUES!!!! We will APPLY the `.count()` method to each UNIQUE VALUE and we want to ORGANIZE the results into a new list.

`<output> = [ <action applied on a variable> for <variable> in <sequence> ]`

In [23]:
[ my_list.count( unique_value ) for unique_value in unique_list_values_as_list ]

[7, 7, 7, 7]

But the list comprehension does NOT provide useful names or context around the contents of the list. 

Which count corresponds to `'sam'`?

The DICTIONARY allows associating a KEY with each VALUE. The KEY can be used to provide USEFUL descriptive information.

We therefore need to ITERATE using a DICTIONARY COMPREHENSION.

In [24]:
{ a_key: my_list.count( a_key ) for a_key in unique_list_values_as_list }

{'frodo': 7, 'merry': 7, 'pippin': 7, 'sam': 7}

## Try again

This time create a list where the values do NOT have the same count!

In [26]:
my_list2 = 5 * ['frodo'] + 4 * ['sam'] + 3 * ['merry'] + 1 * ['pippin']

In [27]:
my_list2

['frodo',
 'frodo',
 'frodo',
 'frodo',
 'frodo',
 'sam',
 'sam',
 'sam',
 'sam',
 'merry',
 'merry',
 'merry',
 'pippin']

In [28]:
unique_list2_set = set( my_list2 )

In [29]:
unique_list2_set

{'frodo', 'merry', 'pippin', 'sam'}

In [33]:
unique_list2_values = list( unique_list2_set )

In [34]:
unique_list2_values

['merry', 'frodo', 'sam', 'pippin']

In [35]:
unique_list2_values.sort()

In [36]:
unique_list2_values

['frodo', 'merry', 'pippin', 'sam']

In [37]:
value_counts_in_list = { a_key: my_list2.count( a_key ) for a_key in unique_list2_values }

In [38]:
value_counts_in_list

{'frodo': 5, 'merry': 3, 'pippin': 1, 'sam': 4}