# Introduction to 1D NumPy arrays

NumPy is what allowed Python to any kind of Data Analysis.

NumPy is a module and so we NEED to import NumPy in order to use any of its objects, functions, or data types.

In [ ]:
import numpy as np

In [ ]:
%whos

## NumPy 1D Arrays

The **ndarray** is the work horse of NumPy. We will start with the simplest version known as a 1D array.

### Create 1D arrays

In [ ]:
np.arange(6)

In [ ]:
range(6)

In [ ]:
type( range(6) )

In [ ]:
list( range(6) )

In [ ]:
np.arange(6)

In [ ]:
a = np.arange(6)

In [ ]:
%whos

In [ ]:
type( a )

In [ ]:
type( list(range(6)) )

In [ ]:
a_list = list( range(6) )

In [ ]:
type( a_list )

In [ ]:
dir( a_list )

In [ ]:
dir( a )

BUT...one thing that is SIMILAR between lists and NumPy arrays is that we can SLICE/INDEX both objects!

In [ ]:
a_list[0]

In [ ]:
a[0]

In [ ]:
a_list[-1]

In [ ]:
a[-1]

In [ ]:
a_list[ :3 ]

In [ ]:
a[ :3 ]

In [ ]:
a_list[ 1:3 ]

In [ ]:
a[ 1:3 ]

### Attributes

In [ ]:
len( a_list )

But with NumPy arrays we can instead use ATTRIBUTES to identify the NUMBER of dimensions, the number of elements per dimension, and the total SIZE in the array.

In [ ]:
a.ndim

In [ ]:
a.shape

In [ ]:
type( a.shape )

In [ ]:
a.size

In [ ]:
a

### Other ways to create arrays

One way to make an array is with the `np.array()` function. This lets us CONVERT a LIST or a TUPLE to an array.

In [ ]:
[1, 2, 3, 4, 5]

In [ ]:
type( [1, 2, 3, 4, 5] )

In [ ]:
np.array( [1, 2, 3, 4, 5] )

In [ ]:
a1 = np.array( [ 1, 2, 3, 4, 5] )

In [ ]:
%whos

In [ ]:
a1.ndim

In [ ]:
a1.shape

In [ ]:
a1.size

In [ ]:
a1

In [ ]:
print( a1 )

In [ ]:
a2 = np.array( (1, 2, 3, 4, 5) )

In [ ]:
a2

In [ ]:
%whos

In [ ]:
a2.ndim

In [ ]:
a2.shape

In [ ]:
a2.size

There are speciality functions for creating arrays of 1 value.

In [ ]:
np.zeros(5)

In [ ]:
np.ones(5)

In [ ]:
0 * np.arange(5)

The `np.arange()` function has 3 arguments.

START, STOP (EXCLUSIVE), and STEP.

In [ ]:
np.arange(6)

In [ ]:
np.arange(0, 6, 3)

In [ ]:
np.arange(0, 6, 2)

In [ ]:
np.arange(0, 100, 20)

In [ ]:
np.arange(0, 100+1, 20)

The `np.linspace()` function is very similar to `np.arange()` BUT...

START, STOP (INCLUSIVE), and Number of points.

In [ ]:
np.linspace(0, 6, num=1)

In [ ]:
np.linspace(0, 6, num=6)

In [ ]:
np.linspace(0, 6, num=6+1)

In [ ]:
np.linspace(0, 6, num=20)

In [ ]:
np.arange(-10, 10, 1.2)

In [ ]:
np.arange(-10, 10, 1.2).shape

In [ ]:
np.linspace(-10, 10, num=17)

In [ ]:
np.linspace(-10, 10, num=17).shape

## Differences with lists

Operators may behave differently on NumPy arrays compared to lists.

In [ ]:
a_list

In [ ]:
a_list == [0, 1, 2, 3, 4, 5]

In [ ]:
a

In [ ]:
a == np.array([0, 1, 2, 3, 4, 5])

In [ ]:
a == np.array([-10, 1, 2, 3, 4, 5])

In [ ]:
np.zeros(5) == np.zeros(10)

In [ ]:
np.array_equal( a, np.array([0, 1, 2, 3, 4, 5]))

In [ ]:
np.array_equal( a, np.array([-10, 1, 2, 3, 4, 5]))

The `+` operator behaves differently!!!

In [ ]:
[1, 2, 3] + [3, 2, 1]

In [ ]:
np.array([1, 2, 3]) + np.array([3, 2, 1])

In [ ]:
np.zeros(5) + np.ones(5)

In [ ]:
np.zeros(10) + np.ones(5)

In [ ]:
np.zeros(10)

In [ ]:
np.ones(5)

# Introduction to 2D NumPy arrays

We saw how to create, manipulate, modify, organize, and summarize 1D arrays...but what does 1D even mean????

## Import NumPy

In [ ]:
import numpy as np

## List of lists

Return back to base Python to begin...we have made lists of lists before...

But this list of lists will be simple, just 2 elements. Each element will be a list of 3 values.

In [ ]:
[ [0, 0, 0], [1, 1, 1] ]

Do the same thing as above...but let's include in more white space and spacing!!!

In [ ]:
[ [0, 0, 0], 
  [1, 1, 1] ]

In [ ]:
[ [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 
  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1] ]

Let's assign our list of lists to an abject.

In [ ]:
my_list_of_lists = [ [0, 0, 0], 
                     [1, 1, 1] ]

In [ ]:
my_list_of_lists

In [ ]:
%whos

In [ ]:
len( my_list_of_lists )

Let's convert the list of lists to a NumPy array!!!!

In [ ]:
my_array = np.array( my_list_of_lists )

In [ ]:
type( my_array )

In [ ]:
my_array.ndim

In [ ]:
my_array.shape

In [ ]:
my_array

2D arrays are MATRICES and they kind of look like TABLES.

2D arrays have 2 dimensions...they have ROWS and COLUMNS!!!!!!

In [ ]:
my_array.shape

In [ ]:
my_array.shape[0]

In [ ]:
my_array.shape[1]

In [ ]:
my_array.size

In [ ]:
my_array.shape[0] * my_array.shape[1]

But please remember the list of lists does NOT understand ROWS and COLUMNS.

In [ ]:
my_array_b = np.array( [ [0, 0, 0], [1, 1, 1] ] )

In [ ]:
my_array_b.ndim

In [ ]:
my_array_b.shape

In [ ]:
my_array_b.size

In [ ]:
my_array_b

Creating a 2D array from a list of lists requires each inner list to have the same length!!!

In [ ]:
np.array([ [0, 0, 0],
           [1, 1, 1, 1, 1, 1, 1] ])

A 2D array must have the same number of columns in each row!!!!!!!!!!

Alternatively, we can create 2D arrays by COMBINING 1D arrays!!!

In [ ]:
a = np.zeros(3)

In [ ]:
b = np.ones(3)

In [ ]:
a.ndim

In [ ]:
a.shape

In [ ]:
a

In [ ]:
b.ndim

In [ ]:
b.shape

We can use the `np.concatenate()` function to combine the two 1D arrays.

In [ ]:
np.concatenate( [a, b] )

In [ ]:
np.concatenate( [a, b] ).shape

Creating a 2D array from 1D arrays requires changing the syntax to `np.concatenate()`.

In [ ]:
np.concatenate( [ [a], [b] ] )

There are speciality functions that simplify STACKING arrays together!!!

Stacking arrays ON top of each other is known as VERTICAL stacking or VERTICAL combing.

In [ ]:
np.vstack( [a, b] )

Combing arrays side by side is known as HORIZONTAL stacking.

In [ ]:
np.hstack( [a, b] )

We can combine or stack more than 2 arrays at the same time!

In [ ]:
c = 2 * np.ones(3)

In [ ]:
d = 3 * np.ones(3)

In [ ]:
c

In [ ]:
d

In [ ]:
np.vstack( [a, b, c, d] )

In [ ]:
np.vstack( [a, b, c, d] ).shape

We can also stack 2D arrays together!!

In [ ]:
np.vstack( [ np.vstack([a, b]), np.vstack([c,d]) ] )