## CMPINF 2100 Week 02

### Calculating averages

## Overview

We have learned how to store values in lists, iterate, apply functions, apply methods, and define your own functions.

Let's now use ALL of those skills to tackle an important and common data analysis task!!!

## Import modules

We will need the `random` module, but we won't use it right away.

In [1]:
import random

## Average

How do we calculate the AVERAGE of a collection of numbers????

For example, what is the average of the following 3 numbers:

In [2]:
[1, 2, 3]

[1, 2, 3]

Calculating the average consists of 3 steps.

The FIRST step is to SUM the values in the collection.

In [3]:
1 + 2 + 3

6

In [4]:
[1, 2, 3]

[1, 2, 3]

In [5]:
a_sum = 0
for a_value in [1, 2, 3]:
    a_sum = a_value + a_sum

In [6]:
a_sum

6

In [7]:
sum( [1, 2, 3] )

6

The SECOND step is to COUNT the number of elements in the collection.

In [8]:
len( [1, 2, 3] )

3

The THIRD and FINAL step is to DIVIDE the SUM by the LENGTH!!!!

In [9]:
sum([1, 2, 3]) / len([1, 2, 3])

2.0

In [10]:
6 / 3

2.0

In [11]:
x_a = [ 1, 2, 3, 4, 5, 6, 7, 8 ]

In [12]:
sum( x_a ) / len( x_a )

4.5

In [13]:
x_b = [-1, 10, -2, 3.14, 5.5, 300, -200, -11, 1034]

In [14]:
sum( x_b ) / len( x_b )

126.51555555555554

Let's define our OWN custom function for calculating the AVERAGE of values contained in a list!

In [15]:
def my_avg(x):
    """
    This is a docstring. It serves as a MULTI LINE comment.
    
    Provide useful desciption and discussion of the INPUT arguments and OPERATION of the function.
    
    This function accepts x as an input argument. Let's assume x is a LIST of integers/floats.
    
    The function returns the AVERAGE of the list.
    """
    return sum(x) / len(x)

In [16]:
%whos

Variable   Type        Data/Info
--------------------------------
a_sum      int         6
a_value    int         3
my_avg     function    <function my_avg at 0x0000021DD0C98C10>
random     module      <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list        n=8
x_b        list        n=9

In [17]:
my_avg

In [18]:
my_avg()

TypeError: my_avg() missing 1 required positional argument: 'x'

In [19]:
my_avg([1, 2, 3])

2.0

In [20]:
my_avg(x_a)

4.5

In [21]:
my_avg(x_b)

126.51555555555554

PLEASE BE CAREFUL!!!!

Our function `my_avg()` can ONLY work with lists that contain integers and floats. The function will NOT work if there is a CHARACTER/str data type!

In [22]:
my_avg([1, '2', 3])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
my_avg([1], [2], [3])

TypeError: my_avg() takes 1 positional argument but 3 were given

In [25]:
help( my_avg )

Help on function my_avg in module __main__:

my_avg(x)
    This is a docstring. It serves as a MULTI LINE comment.

    Provide useful desciption and discussion of the INPUT arguments and OPERATION of the function.

    This function accepts x as an input argument. Let's assume x is a LIST of integers/floats.

    The function returns the AVERAGE of the list.

## Applying our function

We learned how to GENERATE lists of RANDOM numbers!!!!!

Let's make a list of random numbers now...and use our function to calculate the AVERAGE of those random numbers!!!!

In [26]:
random.seed(2100)

xu = [ random.random() for _ in range(11) ]

In [27]:
len(xu)

11

In [28]:
%whos

Variable   Type        Data/Info
--------------------------------
a_sum      int         6
a_value    int         3
my_avg     function    <function my_avg at 0x0000021DD0C98C10>
random     module      <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list        n=8
x_b        list        n=9
xu         list        n=11

In [29]:
xu

[0.764021138054951,
 0.4692037101382426,
 0.09010549233469012,
 0.08980190601697957,
 0.5561956463771123,
 0.41097303757112746,
 0.6979324821652212,
 0.9157019989699348,
 0.06734286989910154,
 0.7015550970478079,
 0.11078753610950587]

What is the AVERAGE of **MEAN** of the 11 values????

In [30]:
my_avg( xu )

0.4430564467895158

In [31]:
my_avg( [ random.random() for _ in range(1000) ] )

0.5130247005855082

What happens if we generate 11 random values...3 DIFFERENT times....

This can happen if we collect observations on different days...different months...or across different locations.

For example, maybe we are collecting or MEASURING the heights of students in a class room.

In [32]:
random.seed(2100)

yu = [ random.random() for _ in range(11) ]

zu = [ random.random() for _ in range(11) ]

qu = [ random.random() for _ in range(11) ]

In [33]:
%whos

Variable   Type        Data/Info
--------------------------------
a_sum      int         6
a_value    int         3
my_avg     function    <function my_avg at 0x0000021DD0C98C10>
qu         list        n=11
random     module      <module 'random' from 'C:<...>inf2100\\lib\\random.py'>
x_a        list        n=8
x_b        list        n=9
xu         list        n=11
yu         list        n=11
zu         list        n=11

In [34]:
yu

[0.764021138054951,
 0.4692037101382426,
 0.09010549233469012,
 0.08980190601697957,
 0.5561956463771123,
 0.41097303757112746,
 0.6979324821652212,
 0.9157019989699348,
 0.06734286989910154,
 0.7015550970478079,
 0.11078753610950587]

In [35]:
zu

[0.9379189789375049,
 0.2987506098933619,
 0.7342115932077558,
 0.8939978976343719,
 0.36690797563632527,
 0.7840449290430325,
 0.37956664277465757,
 0.6333253705111195,
 0.3605664070992006,
 0.7231215087463677,
 0.07281302170746007]

In [36]:
qu

[0.6669762270729921,
 0.4942428713031397,
 0.7956962831040792,
 0.552986632512965,
 0.4893355644568754,
 0.4753411061753585,
 0.956484014417971,
 0.5808057706555326,
 0.6972309683740164,
 0.6530137967372368,
 0.4843336405398452]

In [37]:
yu == zu

False

In [38]:
yu == qu

False

In [39]:
zu == qu

False

The 3 collections have different values...so what about their averages???

In [40]:
my_avg(yu)

0.4430564467895158

In [41]:
my_avg(zu)

0.5622931759264689

In [42]:
my_avg(qu)

0.6224042613954558

Which of the above averages is CORRECT?!?!?!?