## CMPINF 2100 Week 04

### Pandas DataFrame index deep dive

Let's build on the previous video, but focus heavily on the `.index` attribute of a DataFrame.

## Import Modules

In [1]:
import numpy as np
import pandas as pd

## Example DataFrame

We will use the same baseball example DataFrame from the previous recording.

We will create that DataFrame from a dictionary.

In [2]:
baseball_dict = {'City': ['Pittsburgh', 'Cincinatti', 'Chicago', 'St. Louis', 'Milwaukee'],
                 'Team': ['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers'],
                 'Division': 5 * ['Central'],
                 'League': 5 * ['NL']}

In [3]:
baseball_dict

{'City': ['Pittsburgh', 'Cincinatti', 'Chicago', 'St. Louis', 'Milwaukee'],
 'Team': ['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers'],
 'Division': ['Central', 'Central', 'Central', 'Central', 'Central'],
 'League': ['NL', 'NL', 'NL', 'NL', 'NL']}

In [4]:
baseball_df = pd.DataFrame( baseball_dict )

In [5]:
baseball_df

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinatti       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

But...this is video is ALL about the `.index` attribute!!!!

In [6]:
baseball_df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City      5 non-null      object
 1   Team      5 non-null      object
 2   Division  5 non-null      object
 3   League    5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

But we can change the `.index` attribute!

I dislike that Pandas allows the `.index` attribute to be ANYTHING!!!

I feel the `.index` attribute should simply be a ROW counter.

But...Pandas lets the `.index` be a meaningful quantity! The `.index` attribute can therefore be a separate variable!

For the baseball example, let's change the `.index` to be the NUMBER OF GAMES BACK a team is from the division leader.

In [8]:
baseball_df.index = [31.5, 27.5, 22.5, 0, 7.5]

In [9]:
baseball_df.index

Float64Index([31.5, 27.5, 22.5, 0.0, 7.5], dtype='float64')

In [10]:
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 5 entries, 31.5 to 7.5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City      5 non-null      object
 1   Team      5 non-null      object
 2   Division  5 non-null      object
 3   League    5 non-null      object
dtypes: object(4)
memory usage: 200.0+ bytes

In [11]:
baseball_df

            City       Team Division League
31.5  Pittsburgh    Pirates  Central     NL
27.5  Cincinatti       Reds  Central     NL
22.5     Chicago       Cubs  Central     NL
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL

How can we find a single row or SELECT a single row from the DataFrame?

In [12]:
baseball_df[ 0 ]

KeyError: 0

In [13]:
baseball_df[ 0.0 ]

KeyError: 0.0

Pandas is COLUMN or variable or field centric!!!!

In [14]:
baseball_df

            City       Team Division League
31.5  Pittsburgh    Pirates  Central     NL
27.5  Cincinatti       Reds  Central     NL
22.5     Chicago       Cubs  Central     NL
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL

When we type the `[]` to access SOMETHING in a Pandas DataFrame...we need to provide the COLUMN NAME!!!!

In [15]:
baseball_df[ 'City' ]

31.5    Pittsburgh
27.5    Cincinatti
22.5       Chicago
0.0      St. Louis
7.5      Milwaukee
Name: City, dtype: object

In [16]:
baseball_df[ 'Team' ]

31.5      Pirates
27.5         Reds
22.5         Cubs
0.0     Cardinals
7.5       Brewers
Name: Team, dtype: object

The column name allows easy SLICING of the DataFrame!

In [17]:
baseball_df.columns

Index(['City', 'Team', 'Division', 'League'], dtype='object')

But how does this help us with the ROWS???

The `.index` attribute is associated with the ROWS!!!!!!!!

In [18]:
baseball_df.index

Float64Index([31.5, 27.5, 22.5, 0.0, 7.5], dtype='float64')

Pandas uses a SPECIAL ATTRIBUTE to let us manage or select ROWS!

There are two flavors.

The `.loc[]` attribute allows selecting rows based on the `.index` LOCATION or KEY!!!

The `.iloc[]` attribute allows selecting rows based on the `.index` integer POSITION!!!!

In [19]:
baseball_df

            City       Team Division League
31.5  Pittsburgh    Pirates  Central     NL
27.5  Cincinatti       Reds  Central     NL
22.5     Chicago       Cubs  Central     NL
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL

In [20]:
baseball_df.loc[ 0.0 ]

City        St. Louis
Team        Cardinals
Division      Central
League             NL
Name: 0.0, dtype: object

In [21]:
baseball_df.loc[ 31.5 ]

City        Pittsburgh
Team           Pirates
Division       Central
League              NL
Name: 31.5, dtype: object

In [22]:
baseball_df.iloc[ 0 ]

City        Pittsburgh
Team           Pirates
Division       Central
League              NL
Name: 31.5, dtype: object

In [23]:
baseball_df.iloc[ 3 ]

City        St. Louis
Team        Cardinals
Division      Central
League             NL
Name: 0.0, dtype: object

In [24]:
baseball_df.iloc[ -1 ]

City        Milwaukee
Team          Brewers
Division      Central
League             NL
Name: 7.5, dtype: object

The `.loc[]` attribute selects ROWS based on `.index` LOCATION KEY!!!

The `.iloc[]` attribute selects ROWS based on `.index` INTEGER POSITION!!!

## Reseting Index

I do not like the `.index`. I prefer it to be a REGULAR column if it is storing MEANINGFUL VALUES!!!

In [25]:
baseball_df

            City       Team Division League
31.5  Pittsburgh    Pirates  Central     NL
27.5  Cincinatti       Reds  Central     NL
22.5     Chicago       Cubs  Central     NL
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL

Let's sort by the `.index`!

In [26]:
baseball_df.sort_index()

            City       Team Division League
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL
22.5     Chicago       Cubs  Central     NL
27.5  Cincinatti       Reds  Central     NL
31.5  Pittsburgh    Pirates  Central     NL

In [27]:
baseball_df

            City       Team Division League
31.5  Pittsburgh    Pirates  Central     NL
27.5  Cincinatti       Reds  Central     NL
22.5     Chicago       Cubs  Central     NL
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL

In [28]:
baseball_df.sort_index( inplace=True )

In [29]:
baseball_df

            City       Team Division League
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL
22.5     Chicago       Cubs  Central     NL
27.5  Cincinatti       Reds  Central     NL
31.5  Pittsburgh    Pirates  Central     NL

We can PULL OUT the `.index` attribute into a REGULAR column using the `.reset_index()` method!

In [30]:
baseball_df.reset_index()

   index        City       Team Division League
0    0.0   St. Louis  Cardinals  Central     NL
1    7.5   Milwaukee    Brewers  Central     NL
2   22.5     Chicago       Cubs  Central     NL
3   27.5  Cincinatti       Reds  Central     NL
4   31.5  Pittsburgh    Pirates  Central     NL

In [31]:
baseball_df.reset_index().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     5 non-null      float64
 1   City      5 non-null      object
 2   Team      5 non-null      object
 3   Division  5 non-null      object
 4   League    5 non-null      object
dtypes: float64(1), object(4)
memory usage: 328.0+ bytes

If...you do NOT want to KEEP the values within the `.index` attribute when you reset...you can DROP them!

In [33]:
baseball_df.reset_index(drop=True)

         City       Team Division League
0   St. Louis  Cardinals  Central     NL
1   Milwaukee    Brewers  Central     NL
2     Chicago       Cubs  Central     NL
3  Cincinatti       Reds  Central     NL
4  Pittsburgh    Pirates  Central     NL

But...if you want to KEEP the `.index` attribute values...the DEFAULT name of the new column `index` is VERY vague!

In [34]:
baseball_df.reset_index()

   index        City       Team Division League
0    0.0   St. Louis  Cardinals  Central     NL
1    7.5   Milwaukee    Brewers  Central     NL
2   22.5     Chicago       Cubs  Central     NL
3   27.5  Cincinatti       Reds  Central     NL
4   31.5  Pittsburgh    Pirates  Central     NL

We can RENAME a column using the `.rename()` method!!!!

To rename the columns in Pandas DataFrames...we need to use a DICTIONARY within the `columns` argument of the `.rename()` method!!!!

The KEY is the original column name and the VALUE is the NEW or desired column name!

In [35]:
baseball_df.reset_index().rename(columns={'index': 'games_back'})

   games_back        City       Team Division League
0         0.0   St. Louis  Cardinals  Central     NL
1         7.5   Milwaukee    Brewers  Central     NL
2        22.5     Chicago       Cubs  Central     NL
3        27.5  Cincinatti       Reds  Central     NL
4        31.5  Pittsburgh    Pirates  Central     NL

In [36]:
baseball_df

            City       Team Division League
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL
22.5     Chicago       Cubs  Central     NL
27.5  Cincinatti       Reds  Central     NL
31.5  Pittsburgh    Pirates  Central     NL

Sometimes we want to place each step in a PIPELINE or WORKFLOW of actions on a separate line.

This makes the code easier to read especially when there are MANY, MANY actions in the WORKFLOW!

In [41]:
baseball_df_b = baseball_df.\
reset_index().\
rename(columns={'index': 'games_back'}).\
copy()

In [42]:
baseball_df_b

   games_back        City       Team Division League
0         0.0   St. Louis  Cardinals  Central     NL
1         7.5   Milwaukee    Brewers  Central     NL
2        22.5     Chicago       Cubs  Central     NL
3        27.5  Cincinatti       Reds  Central     NL
4        31.5  Pittsburgh    Pirates  Central     NL

In [43]:
baseball_df

            City       Team Division League
0.0    St. Louis  Cardinals  Central     NL
7.5    Milwaukee    Brewers  Central     NL
22.5     Chicago       Cubs  Central     NL
27.5  Cincinatti       Reds  Central     NL
31.5  Pittsburgh    Pirates  Central     NL

## Index upon creation

The `.index` attribute can be defined when the DataFrame is created.

In [44]:
baseball_df_c = pd.DataFrame( data = baseball_dict,
                              index = [31.5, 27.5, 22.5, 0, 7.5],
                              columns = ['League', 'Division', 'City', 'Team'])

In [45]:
baseball_df_c

     League Division        City       Team
31.5     NL  Central  Pittsburgh    Pirates
27.5     NL  Central  Cincinatti       Reds
22.5     NL  Central     Chicago       Cubs
0.0      NL  Central   St. Louis  Cardinals
7.5      NL  Central   Milwaukee    Brewers

## Summary

The `.loc[]` and `.iloc[]` attributes allow us to select rows based on the `.index` attribute!!!!

We can also reset the index using the `.reset_index()` method.

We can change colum names using the `.rename()` method.