In [1]:
4 + 4

8

In [2]:
%whos

Interactive namespace is empty.

In [3]:
z * x * y

NameError: name 'z' is not defined

In [4]:
3 * 3

9

In [5]:
2 ** 4

16

In [6]:
2 * 2 * 2 *

SyntaxError: invalid syntax (1372265230.py, line 1)

In [7]:
2 * 2 * 2 * 2

16

In [8]:
2 + 2

3 + 3

7 * 7

7 ** 3

2 + 2 + 3 + 7 * 3

28

In [9]:
print(2 + 2)

4

In [10]:
print( 2 + 2 )

print( 3 + 3 )

print( 7 * 7 )

print( 7 ** 3 )

print( 2 + 2 + 3 + 7 * 3 )

4
6
49
343
28

In [11]:
# hashtags are COMMENTS in CODE CELLS!!!

## This is a comment

### this is still a comment!!!

### 2 + 2

### print( 3 + 3 )

### nothing is evaluated here!!!

In [12]:
# comments are absolutely CRITICAL in scripts!!

# we need to use comments in order to describe what we're doing!!

### print the result of 2 + 2 to the screen using the print() function
print( 2 + 2 )

4

This is NOT a code cell.

We cannot run commands, evaluate expressions, or call functions.

We are typing in a Markdown cell. And Markdown text although "looks" like code...will be RENDERED in a nice format!

2 + 2

print( 2 + 2)

# This is not a comment

## This is still not a comment

### This is still not a comment

#### more hashtags mean smaller font

##### Hashtags in Markdown cells create SECTION HEADERS!!!

###### More hashtags represent more sub sections

# Our first notebook

This is our first Jupyter notebook. We can type Markdown text to create nice looking discussions which describe WHAT we are programming, WHY we are programming, and describe the results!!!!!

## A simple code cell

Below is a code cell that prints the result of 2 + 2.

In [13]:
print( 2 + 2 )

4

## Bulleted lists

We can create bulleted lists using Markdown!  

* First item in the list  
* Second item in the list  
* 3rd  
* 4th
* so on and so on

Back to regular looking text.

## Defining variables

Let's define two variables, `x` and `y`, in the code cell below.

In [14]:
x = 3

y = 7

In [15]:
print( x )

3

In [16]:
print( y )

7

In [17]:
print( x + y )

10

Jyputer notebook includes MAGIC COMMANDS that allow us to SEE or INSPECT aspects of the variables/objects in the environment!

In [18]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3
y          int     7

In [19]:
z = x / y

In [20]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      3
y          int      7
z          float    0.42857142857142855

## Data types

There are MANY data types in programming languages like Python. Data types dictate the kinds of operations we can do on the object!

The `type()` function is a function that returns the DATA TYPE of the input argument.

In [21]:
type( x )

int

In [22]:
print( type(x) )

<class 'int'>

In [23]:
type( y )

int

In [24]:
type( z )

float

In [25]:
print( type(z) )

<class 'float'>

In [26]:
z

0.42857142857142855

In [27]:
x + z

3.4285714285714284

In [28]:
type( x + z )

float

In [29]:
x / z

7.0

In [30]:
z * x

1.2857142857142856

In [31]:
type( z * x )

float

## Strings

A string data type is a FUNDAMENTALLY different class than INTEGERS and FLOATS.

Strings are characters, so think of letters, words, and phrases.

In [32]:
my_string = 'abcde'

In [33]:
%whos

Variable    Type     Data/Info
------------------------------
my_string   str      abcde
x           int      3
y           int      7
z           float    0.42857142857142855

In [34]:
type( my_string )

str

In [35]:
type( "abcde" )

str

The `=` operator ASSIGNS values to objects but the `==` operator is a CONDITIONAL or LOGICAL test about if the VALUES of the objects are the same!

In [36]:
'abcde' == "abcde"

True

In [37]:
my_string == "abcde"

True

In [38]:
type( my_string == 'abcde' )

bool

A BOOLEAN data type is a TRUE/FALSE value. Python displays Booleans as `True` or `False`.

Strings are kind of "special" in that they can be SUBSET.

In [39]:
len( my_string )

5

Integers do NOT have length in Python, but strings do have length in Python!

In [40]:
len( x )

TypeError: object of type 'int' has no len()

We can SLICE or INDEX or SUBSET the characters in a STRING!!!!! 

The `[]` allow us to INDEX or access elements from within the STRING!

In [41]:
my_string[1]

'b'

In [42]:
my_string

'abcde'

VERY IMPORTANT: Python is a ZEROD BASED INDEX language!!!

In [43]:
my_string[0]

'a'

### Slicing

We can extract out MORE than just a single element!

We can extract or SLICE multiple elements at a time!

We slice by including the `:` operator.

The `:` operator has a START or BEGINNING index to the LEFT and an END or FINISH index to the RIGHT.

VERY IMPORTANT: the beginning index is INCLUSIVE but the ending index is EXCLUSIVE!!!!!!

In [44]:
my_string[0:3]

'abc'

In [45]:
len( my_string[0:3] )

3

In [46]:
my_string[3]

'd'

In [47]:
my_string[1:3]

'bc'

A shortcut to start from the beginning to to NOT include anything to the left of `:`.

In [48]:
my_string[:3]

'abc'

In [49]:
my_string[:2]

'ab'

In [50]:
my_string[:3]

'abc'

In [51]:
my_string[:4]

'abcd'

If we exclude the ENDING index or we do NOT include anything to the right of `:` we will return EVERYTHING from the BEGINNING to the END!

In [52]:
my_string[1:]

'bcde'

In [53]:
my_string[2:]

'cde'

In [54]:
my_string[:]

'abcde'

If the index is NEGATIVE that starts from the END!

In [55]:
my_string[1]

'b'

In [56]:
my_string[-1]

'e'

We can identify the LAST element as `[-1]`.

In [57]:
my_string

'abcde'

In [58]:
my_string[-1]

'e'

In [59]:
my_string[-2]

'd'

## Lists

The list is a CONTAINER! It contains MULTIPLE elements!

Lists are initialized or CREATED with `[]`.

In [60]:
an_empty_list = []

In [61]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      abcde
x               int      3
y               int      7
z               float    0.42857142857142855

In [62]:
len( an_empty_list )

0

In [63]:
type( an_empty_list )

list

Let's now make a new list that contains 4 strings.

In [64]:
the_hobbits = ['frodo', 'sam', 'merry', 'pippin']

In [65]:
len( the_hobbits )

4

In [66]:
type( the_hobbits )

list

In [67]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      abcde
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

Lists, like strings, can be indexed, sliced, subset.

In [68]:
the_hobbits[0]

'frodo'

In [69]:
the_hobbits

['frodo', 'sam', 'merry', 'pippin']

In [70]:
the_hobbits[:2]

['frodo', 'sam']

In [71]:
the_hobbits[1]

'sam'

In [72]:
the_hobbits[-1]

'pippin'

In [73]:
type( the_hobbits[0] )

str

In [74]:
type( 'frodo' )

str

In [75]:
type( the_hobbits )

list

In [76]:
print( the_hobbits[0] )

print( the_hobbits[1] )

print( the_hobbits[2] )

print( the_hobbits[3] )

frodo
sam
merry
pippin

In [77]:
print( type( the_hobbits[0] ) )

print( type( the_hobbits[1] ) )

print( type( the_hobbits[2] ) )

print( type( the_hobbits[3] ) )

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [78]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=0
my_string       str      abcde
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

## Iterate with for-loops

A for-loop allows us to APPLY an action or EXECUTE a procedure OVER and OVER and OVER again! 

We do NOT need to manually applly the action or copy/paste!!!!

A for-loop iterates over a SEQUENCE by changing the value of an ITERATING VARIABLE along that sequence.

In [79]:
for a_hobbit in the_hobbits:
    print( a_hobbit )

frodo
sam
merry
pippin

In [80]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=0
my_string       str      abcde
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

In [81]:
the_hobbits[-1]

'pippin'

In [82]:
a_hobbit

'pippin'

A common way to create or define a for-loop is with a `range()` function.

In [83]:
range(4)

range(0, 4)

In [84]:
print( 0 )

print( 1 )

print( 2 )

print( 3 )

0
1
2
3

In [85]:
for n in range(4):
    print( n )

0
1
2
3

In [86]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=0
my_string       str      abcde
n               int      3
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

The `range()` function is often used to GENERATE a SEQUENCE of INTEGERS to SUBSET lists!

In [87]:
for m in range(4):
    print( the_hobbits[m] )

frodo
sam
merry
pippin

In [88]:
for a_hobbit in the_hobbits:
    print( a_hobbit )

frodo
sam
merry
pippin

We do not need to HARD CODE the 4 in `range()`. We can use the `len()` function to give us the LENGTH of the list!

In [89]:
len( the_hobbits )

4

In [90]:
for n in range( len(the_hobbits) ):
    print( the_hobbits[n] )

frodo
sam
merry
pippin

## Lists are heterogeneous

Lists can CONTAIN MULTIPLE DATA TYPES!!!!!!

In [91]:
another_list = [1, 1.0, 'one', "1", '1.0', True]

In [92]:
another_list

[1, 1.0, 'one', '1', '1.0', True]

In [93]:
type( another_list )

list

In [94]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=0
another_list    list     n=6
m               int      3
my_string       str      abcde
n               int      3
the_hobbits     list     n=4
x               int      3
y               int      7
z               float    0.42857142857142855

In [95]:
len( another_list )

6

In [96]:
for an_element in another_list:
    print( type( an_element) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [97]:
type( another_list[0] )

int

In [98]:
type( another_list[1] )

float

In [99]:
type( another_list[-1] )

bool